# Created by https://www.toptal.com/developers/gitignore/api/c++,codeblocks,xcode,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,codeblocks,xcode,visualstudiocode

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CodeBlocks IDE ###
*.cbp
*.depend
*.layout
# generated directories
bin/
obj/

### VisualStudioCode ###
.vscode/*
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## Gcc Patch
/*.gcno

### Xcode Patch ###
*.xcodeproj/*
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/c++,codeblocks,xcode,visualstudiocode


### CodeLite ###
# specific to CodeLite IDE
*.mk
*.project
*.workspace
compile_commands.json
Makefile
# generated directories
.codelite/

### macOS ###
*.DS_Store
